<%- include("../includes/header.ejs", {title:"Schools - " + result[0].school_name}); %>
<br /><a href="javascript:history.back()"><< back</a><br />
<h1>Schools</h1>
    <ul>
        <li>School Name: <%= result[0].school_name %></li>
        <li>Address: <%= result[0].street %>, <%= result[0].zip_code %></li>
    </ul>
</body>

</html>